@use '/src/styles/variables.scss' as vars;

#app-container {
    height: 90vh;
}
footer {
    height: 210px;
    display: flex;
    align-items: center;
    padding: 9px 120px 9px 120px;
    border-top: solid 1px vars.$bole;
    h1 {
        font-size: 21px;
    }
}