@use '/src/styles/variables.scss' as vars;

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}

footer {

  height: 210px;
  display: flex;
  align-items: center;
  padding: 9px 120px 9px 120px;
  border-top: solid 1px vars.$bole;
  background-color: vars.$lemon-chiffon;

  h1 {
    font-size: 21px;
  }
}
app-product-cart{
  position: absolute;
  z-index: 98;
  height: 50%;
  width: 25%;
  right: 0;
}

