@use '/src/styles/variables.scss' as vars;

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: vars.$bole;
    #title-container {
        .app-title {
            font-size: 88px;
            letter-spacing: 15px;
        }
    }
    #auth-container {
        flex-direction: column;
        justify-content: center;
        margin: 5px;
        .auth-button {
            width: 100%;
            height: 42px;
            margin: 12px;
            padding: 12px;
            color: vars.$lemon-chiffon;
            text-decoration: none;
            vertical-align: middle;
            font-size: 18px;
            border-style: none;
            border-radius: 5px;
            background-color: vars.$dark-moss-green;
            &:active {
                transform: scale(0.95);
                background-color: darken(vars.$dark-moss-green, 7%);
            }
            &:disabled {
                background-color: darken(vars.$dark-moss-green, 7%);
            }
            fa-icon {
                vertical-align: middle;
                font-size: 24px;
            }
        }
    }
}