<div class="filter-item">
  <button (click)="toggleFilter()" [className]="isFilterOpen ? 'filter-title filter-open' : 'filter-title'">
    <span>
      <h3>{{category || 'Chargement...' }}</h3>
    </span>
    <span class="filter-icon">
      <fa-icon [icon]="faChevronUp"></fa-icon>
    </span>
  </button>
  <div class="filter-control" [hidden]="!isFilterOpen">
    <div class="filter-choice">
      <div class="filter-top">
      <span>
        {{category || 'Chargement...'}}
      </span>
      </div>
      <div class="filter-select">
        <label *ngFor="let filter of filterValue">
            <span>
              <input (change)="setFilterValue($event, category, filter)" type="checkbox" [name]="filter.name" [value]="filter.value">
            </span>
          <span>{{filter.name}}</span>
        </label>
      </div>
      <div class="filter-submit">
        <button (click)="closeOrSave()">
          <h3>
            <ng-container *ngIf="hasChanged">Sauvegarder</ng-container>
            <ng-container *ngIf="!hasChanged">Fermer</ng-container>
          </h3>
        </button>
      </div>
    </div>
  </div>
</div>
