<div class="filter-item">
  <button (click)="toggleFilter()" [className]="isFilterOpen ? 'filter-title filter-open' : 'filter-title'">
    <div class="filter-category">
      <h3>{{filter.filterCategory || 'Aucun titre' }}</h3>
      <ng-container *ngIf="countSelectedFilterValue(filter.filterCategory) > 0">
        <h3 class="filter-count">({{countSelectedFilterValue(filter.filterCategory)}})</h3>
      </ng-container>
    </div>
    <span class="filter-icon">
      <fa-icon [icon]="faChevronUp"></fa-icon>
    </span>
  </button>
  <div class="filter-control" [hidden]="!isFilterOpen">
    <div class="filter-choice">
      <div class="filter-top">
      <span>
        {{filter.filterCategory || 'Aucune titre'}}
      </span>
      </div>
      <!-- Select -->
      <div class="filter-select" *ngIf="filter.filterType === 'select'">
        <label *ngFor="let filterObject of filter.filterValues">
            <span>
              <input (change)="setFilterValue($event, filter.filterCategory, filterObject)" type="checkbox" [name]="filterObject.name"
                     [value]="filterObject.value">
            </span>
          <span>{{filterObject.name}}</span>
        </label>
      </div>
      <!-- Range -->
      <div class="filter-select filter-slider" *ngIf="filter.filterType === 'range' && filter.filterRangeMin != undefined">
        <ngx-slider [(value)]="sliderMinValue" [(highValue)]="sliderMaxValue" (userChangeEnd)="changeRange(filter.filterCategory)" [options]="sliderOption"></ngx-slider>
      </div>
      <div class="filter-submit">
        <button (click)="closeOrSave()">
          <h3>
            <ng-container *ngIf="hasChanged">Sauvegarder</ng-container>
            <ng-container *ngIf="!hasChanged">Fermer</ng-container>
          </h3>
        </button>
      </div>
    </div>
  </div>
</div>
