@use '/src/styles/variables.scss' as vars;


.filter-item {
  width: 100%;
  z-index: 3;
  position: relative;

  .filter-open {
    background-color: vars.$dark-moss-green;

    span.filter-icon {
      transform: rotate(180deg);
    }
  }

  .filter-title {
    cursor: pointer;
    width: 100%;
    background-color: vars.$moss-green;
    color: vars.$lemon-chiffon;
    padding: 10px 20px;
    border: none;

    display: flex;
    justify-content: space-between;
  }

  .filter-control {

    z-index: 4;
    position: static;

    .filter-choice {
      background-color: vars.$lemon-chiffon;
      padding: 20px 20px;

      // Pour ne pas avoir le pixel de border de la même couleur que le boutton se trouvant en dessous
      border-top-color: vars.$lemon-chiffon !important;
      border: 1px solid vars.$moss-green;
      min-height: 400px;
      max-height: 400px;
      height: 400px;

      display: flex;
      flex-direction: column;

      .filter-top {
        flex: 0 0 auto;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 10px;
      }

      .filter-select {
        flex: 1 1 auto;
        overflow: hidden auto;

        .filter-search-error {
          margin-top: 15px;
          text-align: center;
        }

        .filter-search {
          border: 1px solid vars.$dark-moss-green;
          border-radius: 0;
          width: 100%;
          display: flex;

          input {
            padding: 10px 20px;
            border: 0;
            border-radius: 0;
            width: 100%;
            background-color: vars.$lemon-chiffon;
            color: vars.$dark-green;
            height: 41px;
            transition: background-color 0.2s ease-in-out;

            &:focus {
              outline: none;
              background-color: vars.$lemon-chiffon-dark;

              & + .filter-search > button {
                background-color: vars.$lemon-chiffon-dark !important;
              }
            }
          }

          button {
            background-color: vars.$lemon-chiffon;
            border: 0;
            cursor: pointer;
            height: 41px;
            width: 41px;
            line-height: 47px;
            font-size: 16px;
            margin: 0 auto;
            transition: background-color 0.2s ease-in-out;

            &:focus {
              outline: none;
            }
          }
        }

        label {
          padding: 5px 0;
          flex-wrap: nowrap;
          -webkit-box-align: center;
          align-items: center;

          display: flex;

          span:first-child {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            min-width: 18px;
            height: 18px;
            border: 1px solid;
            border-radius: 3px;

            margin-right: 10px;

            & input {
              margin: 0;
              width: 100%;
              height: 100%;
              border: 0;
            }
          }
        }
      }

      .filter-submit {
        flex: 0 0 auto;

        button {
          margin-top: 20px;
          width: 100%;
          background-color: vars.$dark-moss-green;
          color: vars.$lemon-chiffon;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.filter-category {
  display: flex;
  gap: 12px;

  .filter-count {
    font-style: italic;
  }
}


::ng-deep {
  .filter-slider .ngx-slider .ngx-slider-bar {
    background: vars.$dark-moss-green;
    height: 2px;
  }

  .filter-slider .ngx-slider .ngx-slider-selection {
    background: vars.$moss-green;
  }

  .filter-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    bottom: 0;
    background-color: vars.$moss-green;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .filter-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .filter-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .filter-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: vars.$redwood;
  }

  .filter-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .filter-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: vars.$moss-green;;
  }
}
