<a [routerLink]="['/product', product?.productId]">
    <img src="../../../assets/img/image.png" class="item-image">
    <div class="card-content">
        <div class="product-details">
          <h3 class="product-name">{{product?.productName}}</h3>
          <h4 class="product-brand">{{product?.productBrandName}}</h4>
          <h5 class="product-info">{{product?.productInfo || "500g"}}</h5>
        </div>
        <div class="card-data">
            <p class="total-price">{{product?.productPrice}} CHF</p>
        </div>
    </div>
</a>
<app-tags [categories]="product?.categories"></app-tags>
<button class="add-to-cart" (click)="addProductCart(product?.productId)"><fa-icon [icon]="faCartPlus"></fa-icon></button>
