<img src="../../../assets/img/image.png" class="item-image">    
<div class="line"></div>
<div class="card-content">
    <h3 class="brand">Mercure Felina</h3>
    <!-- <p class="description">Les croquettes pour chat Mercure Felina sont riches en nutriments essentiels</p> -->
    <div class="card-data">
        <p class="price">12.50 CHF</p>
        <div class="tags">
            <p class="tag"><fa-icon [icon]="faTag"></fa-icon> Nourriture</p>
            <p class="tag"><fa-icon [icon]="faTag"></fa-icon> Chat</p>
        </div>
    </div>
</div>