@use '/src/styles/variables.scss' as vars;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  margin: 15px;
  padding: 30px;
  border: 1px solid vars.$bole;
  border-radius: 15px;

  app-tags {
    min-height: 110px;
    max-height: 130px;
  }

  a {
    text-decoration: none;
    color: vars.$cal-poly-green;

    .item-image {
      width: 210px;
      height: 210px;
      margin-bottom: 24px;
    }

    .product-details {

      min-height: 120px;
      max-height: 120px;
      height: 120px;

      .product-name {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 5px;
        min-height: 30px;
      }

      .product-brand {
        font-size: 15px;
        font-weight: 350;
        margin-bottom: 5px;
        min-height: 40px;
      }

      .product-info {
        margin-bottom: 25px;
        margin-top: 10px;
        min-height: 23px;
      }

      .card-data {
        margin-top: 20px;

        .total-price {
          font-size: 21px;
          font-weight: bold;
          margin-bottom: 15px;
        }
      }
    }
  }

  .add-to-cart {
    width: 100%;
    height: 42px;
    color: vars.$lemon-chiffon;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    margin-top: 24px;
    background-color: vars.$dark-moss-green;

    &:active {
      transform: scale(0.95);
      background-color: darken(vars.$dark-moss-green, 7%);
    }

    &:disabled {
      background-color: darken(vars.$dark-moss-green, 7%);
    }

    fa-icon {
      vertical-align: middle;
      font-size: 21px;
    }
  }
}
