<div class="product-container">
    <div class="product-images">
        <div class="image-menu">

        </div>
        <div class="display-image">
            <img src="../../../assets/img/image.png" class="product-image">
        </div>
    </div>
    <div class="product">
        <div class="product-data">
            <h2 class="product-name">Mercure Felina</h2>
            <p class="product-tag">Croquette pour chat</p>
        </div>
        <button class="add-to-cart">Ajouter au panier <fa-icon [icon]="faCartPlus"></fa-icon></button>
    </div>
</div>
