<div class="management-content">
    <h1 class="management-title">Gestion</h1>
    <button class="management-nav">Animaux</button>
    <button class="management-nav">Produits</button>
    <button class="management-nav">Utilisateurs</button>
    <div class="animal">
        <h2 class="management-subtitle">Animal:</h2>
        <div>
            <h3 class="mangement-label">Nom:</h3>
            <input>
        </div>
        <div>
            <h3 class="mangement-label">Date de naissance:</h3>
            <input type="date">
        </div>
        <div>
            <h3 class="mangement-label">Couleur:</h3>
            <input>
        </div>
        <div>
            <h3 class="mangement-label">Prix:</h3>
            <input>
        </div>
    </div>
</div>