<div class="sideBar">
    <a (click)="profilShow()">Profil</a>
    <a (click)="orderShow()">Historique de commandes</a>
    <a (click)="managementShow()">Gestion</a>
</div>
<div class="profile">
  <div *ngIf = "!managementIsShow && !orderIsShow && !isUserLoading">
    <div class="profile-content">
      <h1 class="profile-title">Profil</h1>
      <div>
        <h3 class="profile-label">Prenom:</h3>
        <p *ngIf="isUserLoading">Loading...</p>
        <p *ngIf="!isUserLoading">{{currentUser.firstName}}</p>
      </div>
      <div>
        <h3 class="profile-label">Nom:</h3>
        <p *ngIf="!isUserLoading">{{currentUser.lastName}}</p>
      </div>
      <div>
        <h3 class="profile-label">Mail:</h3>
        <p *ngIf="isUserLoading">Loading...</p>
        <p *ngIf="!isUserLoading">{{currentUser.email}}</p>
      </div>
      <div>
        <h3 for="roles" class="profile-label">Role:</h3>
        <select class="role-select" name="roles" id="roles">
          <option value="user">Utilisateur</option>
          <option value="admin">Administrateur</option>
        </select>
      </div>
    </div>
    <div class="parameters-content">
      <h1 class="paramaters-title">Paramètres</h1>
      <div>
        <h3 class="parameter-label">Langue:</h3>
        <p *ngIf="isParametersLoading">Loading...</p>
        <p *ngIf="!isParametersLoading">{{currentParameter.langue}}</p>
      </div>
      <div>
        <h3 class="parameter-label">Monnaie:</h3>
        <p *ngIf="isParametersLoading">Loading...</p>
        <p *ngIf="!isParametersLoading">{{currentParameter.monnaie}}</p>
      </div>
      <div>
        <h3 class="parameter-label">Adresse de livraison:</h3>
        <p *ngIf="isParametersLoading">Loading...</p>
        <p *ngIf="!isParametersLoading">{{currentParameter.shipmentAdress}}</p>
      </div>
    </div>
  </div>
  <app-orders-panel *ngIf = "orderIsShow"></app-orders-panel>
  <app-management *ngIf = "managementIsShow"></app-management>
</div>
