<div class="sideBar">
  <a (click)="profilShow()">Profil</a>
  <a (click)="orderShow()">Historique de commandes</a>
</div>
<div class="profile">
  <div *ngIf="!orderIsShow && !isUserLoading && !parameterIsShow">
    <div class="profile-content">
      <h1 class="profile-title">Profil</h1>
      <div>
        <h3 class="profile-label">Prenom:</h3>
        <p *ngIf="isUserLoading">Loading...</p>
        <p *ngIf="!isUserLoading">{{currentUser.firstName}}</p>
      </div>
      <div>
        <h3 class="profile-label">Nom:</h3>
        <p *ngIf="!isUserLoading">{{currentUser.lastName}}</p>
      </div>
      <div>
        <h3 class="profile-label">Mail:</h3>
        <p *ngIf="isUserLoading">Loading...</p>
        <p *ngIf="!isUserLoading">{{currentUser.email}}</p>
      </div>
      <div>
        <h3 for="roles" class="profile-label">Role:</h3>
        <div class="info-message" *ngIf="isDevEnv">
          <span>Vous êtes en environnement de développement, c'est pour cela que vous pouvez modifier votre rôle.</span>
        </div>
        <p *ngIf="isUserLoading">Loading...</p>
        <ng-container *ngIf="!isUserLoading && !isDevEnv">
          <p>{{currentUser.role.roleName}}</p>
        </ng-container>
        <ng-container *ngIf="roles && !isUserLoading && isDevEnv">
          <select id="roles" class="select-role" [(ngModel)]="selectedRole">
            <option *ngFor="let role of roles" [selected]="role.roleNumber === currentUser.role.roleNumber" [value]="role.roleNumber">{{role.roleName}}</option>
          </select>
        </ng-container>
        <ng-container *ngIf="!isUserLoading && selectedRole !== currentUser.role.roleNumber">
          <button class="btn-save" (click)="updateRole()">Changer de rôle</button>
        </ng-container>
      </div>
    </div>
    <div class="parameters-content">
      <h1 class="paramaters-title">Paramètres</h1>
      <div>
        <h3 class="parameter-label">Langue:</h3>
        <p *ngIf="isParametersLoading">Loading...</p>
        <p *ngIf="!isParametersLoading">{{currentParameter.langue}}</p>
      </div>
      <div>
        <h3 class="parameter-label">Monnaie:</h3>
        <p *ngIf="isParametersLoading">Loading...</p>
        <p *ngIf="!isParametersLoading">{{currentParameter.monnaie}}</p>
      </div>
      <div>
        <h3 class="parameter-label">Adresse de livraison:</h3>
        <p *ngIf="isParametersLoading">Loading...</p>
        <p *ngIf="!isParametersLoading">{{currentParameter.shipmentAdress}}</p>
      </div>
    </div>
  </div>
  <app-orders-panel *ngIf="orderIsShow"></app-orders-panel>
</div>
