@use '/src/styles/variables.scss' as vars;

:host{
  height: 51px;
  display: flex;
  justify-content: space-between ;
  align-content: center;
  align-items: baseline;
  text-align: center;
  border-top: 1px solid vars.$bole;
  font-size: 15px;
  .product-info {
    display: flex;
    .price {
      padding-right: 6px;
    }
    .remove-button {
      font-size: 15px;
      border-style: none;
      color: vars.$dark-moss-green;
      background: none;
      &:active {
        transform: scale(0.95);
        color: darken(vars.$dark-moss-green, 7%);
      }
    }
  }
}
  