@use '/src/styles/variables.scss' as vars;

:host{
  min-height: 42px;
  display: flex;
  align-content: center;
  button {
    font-size: 15px;
    border-style: none;
    color: vars.$lemon-chiffon;
    background: none;
  }
  display: flex;
  justify-content: space-between ;
  align-items: baseline;
  padding: 5px;
  border-bottom: 1px solid vars.$bole;
}
  