<nav (keydown.escape)="active = false">
  <a class="home-button" [routerLink]="['/']"><h1 class="app-title">MERCURE</h1></a>
  <div [className]="active && autocompleteSuggestions.length > 0 ? 'active-suggestion search-bar-container' : 'search-bar-container'" >
    <input type="text" class="search-input" (focusin)="active = true" (keydown.enter)="goToSearch()" (keydown.escape)="active = false" (keyup)="onChangeInput($event.target)"
           placeholder="Rechercher..." autocomplete="off">
    <div class="suggestions" *ngIf="active && autocompleteSuggestions.length > 0">
      <ng-container *ngIf="autocompleteSuggestions.length === 0">
        Chargement...
      </ng-container>
      <a [routerLink]="'/search'" (click)="active = false" [queryParams]="{q: suggestion}" class="suggestion"  *ngFor="let suggestion of autocompleteSuggestions">
        {{suggestion}}
      </a>
    </div>
    <button class="search-button">
      <fa-icon class="navbar-icon" (click)="search()" [icon]="faMagnifyingGlass"></fa-icon>
    </button>
  </div>
  <div class="nav-button-container">
    <button class="nav-button"(hideShow)=hideCart($event) (click)="toggleshowHide()"><fa-icon class="navbar-icon" [icon]="faCartShopping"></fa-icon></button>
    <a class="nav-button" [routerLink]="['/profile']">
      <fa-icon class="navbar-icon" [icon]="faUser"></fa-icon>
    </a>
  </div>
</nav>
