<nav>
    <a class="home-button" [routerLink]="['/']"><h1 class="app-title">MERCURE</h1></a>
    <div class="search-bar-container">
        <input type="text" class="search-input" placeholder="Rechercher">
        <button class="search-button"><fa-icon class="navbar-icon" [icon]="faMagnifyingGlass"></fa-icon></button>
    </div>
    <div class="nav-button-container">
      <button class="nav-button" (click)="toggleShowHide()"> <fa-icon class="navbar-icon" [icon]="actualIcone"></fa-icon></button>
      <a class="nav-button" [routerLink]="['/profile']"><fa-icon class="navbar-icon" [icon]="faUser"></fa-icon></a>
    </div>
</nav>
