<nav>
    <a class="home-button" [routerLink]="['/']"><h1 class="app-title">MERCURE</h1></a>
    <div class="search-bar-container">
        <input type="text" class="error-input" id="search-input" placeholder="Rechercher">
        <a class="search-button"[routerLink]="['/search']"><fa-icon class="navbar-icon" [icon]="faMagnifyingGlass"></fa-icon></a>
    </div>
    <div class="nav-button-container">
        <a class="nav-button" [routerLink]="['/']"><fa-icon class="navbar-icon" [icon]="faCartShopping"></fa-icon></a>
        <a class="nav-button" [routerLink]="['/profile']"><fa-icon class="navbar-icon" [icon]="faUser"></fa-icon></a>
    </div>
</nav>
