/* Font */
/*Titillium Web Bold, Titillium Web Bold Italic, & Oswald Regular*/
// @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web:ital,wght@1,700&display=swap');
/*Montserrat Bold, Ubuntu Medium and Hind Medium*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@700&family=Ubuntu:wght@500&display=swap');

/* SCSS HEX */
$lemon-chiffon: #fff5cdff;
$lemon-chiffon-dark: #efe6c1;
$bole: #6f3e2dff;
$moss-green: #86965cff;
$dark-moss-green: #5d6c3bff;
$cal-poly-green: #314d2dff;
$dark-green: #1a2c16ff;
$redwood: #ab4647ff;
$battleship-gray: #8a8f7cff;
