<article class="item">
    <!-- <div class="image">
    </div> -->
    <img class="image-item" src="../../../assets/img/image.png" alt="">
    <div class="quantity">{{!(product) || product.productQuantity || 0}}x</div>
    <a class="item-data" [routerLink]="'/product/'+product?.productId">
        <div class="item-name"><span class="item-brand">{{product?.productBrandName}}</span> {{product?.productName}}</div>
        <div class="shippment-status">
          <ng-container *ngIf="order?.orderStatus">
            Expédié ({{order?.orderDate | date:'dd/MM/yyyy'}})
          </ng-container>
          <ng-container *ngIf="!order?.orderStatus">
            En attente
          </ng-container>
        </div>
    </a>
</article>
