@use '/src/styles/variables.scss' as vars;

:host {
  width: 25%;
  height: 50%;
  background-color: vars.$lemon-chiffon;
  border: 1px solid vars.$bole;
  margin: 15px 15px;
  button {
    font-size: 24px;
    border-style: none;
    color: vars.$lemon-chiffon;
    background-color: transparent;
  }
}

.product-cart-container{
  color: vars.$dark-moss-green;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.title-product-cart{
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid vars.$bole;
  padding: 5px;
  .close-button {
    color: vars.$bole;
  }
}
.shipping-cost-product-cart{
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid vars.$bole;
  padding: 5px;
}

.totalprice-product-cart{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.button-product-cart{
  display: flex;
  justify-content: center;

  button{
    background-color: vars.$moss-green ;
    width: 60%;
    height: 60%;
  }
}


