@use '/src/styles/variables.scss' as vars;

:host {
  background-color: vars.$lemon-chiffon;
  border: 1px solid vars.$bole;
  margin: 15px 15px;
  min-width: 400px;
  min-height: 450px;
}

button {
  border-style: none;
  background-color: transparent;
}

.product-cart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  min-height: 450px;
  color: vars.$dark-moss-green;

  .title-product-cart {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;

    .close-button {
      color: vars.$bole;
      font-size: 24px;
    }
  }

  .total {
    padding-top: 6px;
    border-top: 1px solid vars.$bole;

    .total-price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    .disable {
      background-color: vars.$dark-green !important;
      cursor: not-allowed !important;
    }

    .buy-cart {
      height: 42px;
      display: flex;
      justify-content: center;
      align-content: center;
      border-radius: 6px;
      background-color: vars.$dark-moss-green;
      cursor: pointer;

      &:active {
        transform: scale(0.95);
        background-color: darken(vars.$dark-moss-green, 7%);
      }

      &:disabled {
        background-color: darken(vars.$dark-moss-green, 7%);
      }

      & button > p {
        color: vars.$lemon-chiffon;
      }

      fa-icon {
        font-size: 21px;
        color: vars.$lemon-chiffon;
        line-height: 45px;
      }
    }
  }
}

