<h1 class="orders-panel-title">Commandes</h1>
<ng-container *ngIf="isLoading">
  L'historique de commandes est en cours de chargement...
</ng-container>
<ng-container *ngIf="!isLoading && orders.length === 0">
  Vous n'avez pas encore passé de commande.
</ng-container>
<ng-container *ngIf="!isLoading">
  <div class="orders-panel">
    <div class="order-container" *ngFor="let order of orders">
      <header class="order-header">
        <h2 class="order-title">Commande #<span style="font-weight: bold">{{order.orderNumber}}</span> du {{order.orderDate | date: "dd/MM/YYYY hh:mm"}}</h2>
        <div class="order-details">
          <div class="order-detail order-status">
            Status de paiement : <span class="status">{{order.orderStatus ? 'payé' : 'non payé'}}</span>
          </div>
          <div class="order-detail order-total">
            Montant total de <span class="total">CHF {{order.orderPrice.toFixed(2)}}</span>
          </div>
        </div>
      </header>
      <div class="order-items">
        <app-order-item *ngFor="let product of order.products" [order]="order" [product]="product"></app-order-item>
      </div>
    </div>
  </div>

</ng-container>
